extends layout

block content
    -console.log(dueDates)
    -console.log(submittedForms)
    section(class="main-content columns is-fullheight" style="flex: 1 0 auto; padding: 20px;")
        aside(class="column is-2 is-narrow-mobile is-fullheight section")
            p(class="menu-label") Dashboard
            ul(class='menu-list')
                li
                    a(href="/" class="is-italic") Home
                li
                    a(href=`/${userinfo.username}/forms/${userinfo.company_id}/all` class='is-italic') Completed Forms
                li 
                    a(href=`/${userinfo.company_id}/staffMembers` class='is-italic') Staff Members
        div(class='columns is-mobile is-centered is-multiline')
            div(class="column")
                section(class="section")
                    if userinfo
                        - let modifiedDate = new Date(userinfo.last_modified.toString());
                        - const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        - modifiedDate = modifiedDate.toLocaleDateString(undefined, options);
                        h1(class='has-text-centered has-text-weight-bold is-size-2')=userinfo.username + "'s Profile"
                        p(class='has-text-weight-bold') User Account E-Mail:
                        a(href=`mailto:${userinfo.email}`)
                            p=userinfo.email
                        br
                        p Company's Last Form Submission:
                            p=modifiedDate
                        br
                        h3(class='is-italic') Assigned Company:
                        p(class='mt-2 has-text-weight-bold')=userinfo.company_name
                        figure(class='image is-128x128')
                            img(src=`/uploads/${userinfo.logo}` alt=userinfo.company_name)
                    else 
                        h1 No user information found. Please try again or submit a support ticket.
            div(class='column is-narrow')
                div(class='column is-narrow')
                    section(class='section')
                        table(class='table is-bordered is-striped is-hoverable')
                            thead
                                p(class='has-text-centered has-text-weight-semibold is-size-5') #{currentYear} Forms
                                br
                                tr
                                    th Form Name
                                    th #{currentYear}
                                    th Due Date 
                            tbody
                                if dueDates
                                    each form in dueDates 
                                        -let formdue = new Date(form.duedate.replace(/-/g, '\/'))
                                        - const options = { year: 'numeric', month: 'long', day: 'numeric' };
                                        -formdue = formdue.toLocaleDateString(undefined, options);
                                        if form.form_name === 'Strengthening Families'
                                            tr 
                                                td 
                                                    a(class='is-link' href=form.link)
                                                        p(class='has-text-weight-bold')=form.form_name 
                                                td 
                                                    p(class='help is-italic has-text-weight-bold has-text-centered') --
                                                td 
                                                    p=formdue
                                        else
                                            tr 
                                                td 
                                                    a(class='is-link' href=form.link)
                                                        p(class='has-text-weight-bold')=form.form_name
                                                td
                                                    each dateform in submittedForms 
                                                        -let formsubmitdate = new Date(dateform.date_submitted);
                                                        -const options = { year: 'numeric', month: 'long', day: 'numeric' };
                                                        -formsubmitdate = formsubmitdate.toLocaleDateString(undefined, options);
                                                        if dateform.form_id === form.form_reference && formsubmitdate <= formdue
                                                                p(class='has-text-centered has-font-weight-bold') ✓
                                                        
                                                td 
                                                    p=formdue
                                else 
                                    tr 
                                        p No Forms found, please refresh or submit a support ticket.
                div(class='column is-narrow')
                    section(class='section')
                        h3(class='has-text-weight-semibold has-text-centered is-size-5') Recently Completed Forms:
                        if recentForms.length > 0
                            table(class='table is-bordered is-striped is-hoverable')
                                thead
                                    tr
                                        th Form Name
                                        th Completion Date
                                    tbody
                                        each form in recentForms
                                            tr
                                                td
                                                    a(class='is-link' href=`/${userinfo.username}/forms/${form.company_id}/${form.form_id}/${form.response_id}`)
                                                        p #{form.form_name}
                                                td #{form.to_char}
                            section(class='section')
                                a(href=`/${userinfo.username}/forms/${recentForms[0].company_id}/all`)
                                    p(class='help') Please note that this lists only the most recent distinct form. If it's missing a form, check the following:
                                    p(class='has-text-centered has-text-weight-bold is-italic') View More Forms
                                
                        else
                            p(class='is-italic has-text-centered subtitle') No Recently Completed Forms.
