extends layout

block content
    section(class="main-content columns is-fullheight")
        aside(class="column is-2 is-narrow-mobile is-fullheight section")
            p(class="menu-label") Dashboard
            ul(class='menu-list')
                li
                    a(href="/" class="is-italic") Home
        div(class="columns is-10 is-mobile is-centered")
            section(class="section")
                if userinfo
                    p=userinfo.username + "'s Profile"
                div(class="column is-half")
                    a(href=`mailto:${userinfo.email}`)
                        p=userinfo.email
                    p Profile Last Updated: 
                        p=userinfo.last_updated
                    p Assigned Company:
                        p=userinfo.company_name
                        img(src=userinfo.logo)