extends layout

block content
    section(class="main-content columns is-fullheight" style="flex: 1 0 auto; padding: 20px;")
        aside(class="column is-2 is-narrow-mobile is-fullheight section")
            p(class="menu-label") Dashboard
            ul(class='menu-list')
                li
                    a(href="/" class="is-italic") Home
                li
                    a(href=`/${userinfo.username}/forms/${userinfo.company_id}/all` class='is-italic') Completed Forms
                li 
                    a(href=`/${userinfo.company_id}/staffMembers` class='is-italic') Staff Members
        div(class='columns is-mobile is-centered is-multiline')
            div(class="column is-narrow")
                section(class="section")
                    if userinfo
                        h1(class='has-text-centered has-text-weight-bold is-size-2')=userinfo.username + "'s Profile"
                    div(class="column is-half")
                        p(class='has-text-weight-bold') User Account E-Mail:
                        a(href=`mailto:${userinfo.email}`)
                            p=userinfo.email
                        br
                        p Profile Last Updated: 
                            p=userinfo.last_updated
                        br
                        p Assigned Company:
                            a(href=`/company/${userinfo.company_id}`)
                                p=userinfo.company_name
                                img(src=`/uploads/${userinfo.logo}`)
            div(class='column is-narrow')
                div(class='column is-narrow')
                    section(class='section')
                        table(class='table is-bordered is-striped is-hoverable')
                            thead
                                p(class='has-text-centered has-text-weight-semibold is-size-5') #{currentYear} Forms
                                br
                                tr
                                    th Form Name
                                    th #{currentYear}
                            tbody
                                tr 
                                    td 
                                        a(class='is-link' href='/forms/annualreport')
                                            p(class='has-text-weight-bold') #{currentYear} Annual Report 
                                    if todaysDate
                                        if todaysDate === "Yes"
                                            td ✓
                                        else 
                                            td = " "
                                tr  
                                    td
                                        a(class='is-link' href='/forms/qiaprogress')
                                            p(class='has-text-weight-bold') QIA Progress Report Form
                                    if todaysDate
                                        if todaysDate === "Yes"
                                            td ✓
                                        else
                                            td= " "
                                tr
                                    td
                                        a(class='is-link' href='/forms/qiaoutcome')
                                            p(class='has-text-weight-bold') QIA Outcome Reporting Form
                                    if todaysDate
                                        if todaysDate === 'Yes'
                                            td ✓
                                        else
                                            td=' '
                                tr
                                    td
                                        a(class='is-link' href='/forms/qiabudget')
                                            p(class='has-text-weight-bold') QIA Detailed Budget Form
                                        if todaysDate
                                            if todaysDate === 'Yes'
                                                td ✓
                                            else
                                                td=' '
                                tr
                                    td
                                        a(class='is-link' href='/forms/qiacenterimprovement')
                                            p(class='has-text-weight-bold') QIA Center Improvement Plan Form
                                        if todaysDate
                                            if todaysDate === 'Yes'
                                                td ✓
                                            else
                                                td=' '
                                tr
                                    td
                                        a(class='is-link' href='/forms/staffmeetingtracker')
                                            p(class='has-text-weight-bold') DN Staff Meeting Tracker Form
                                        if todaysDate
                                            if todaysDate === 'Yes'
                                                td ✓
                                            else
                                                td= ' '
                                tr 
                                    td 
                                        a(class='is-link' href='/forms/ececredittracking')
                                            p(class='has-text-weight-bold') ECE Credit Tracking Form 
                                        if todaysDate 
                                            if todaysDate === 'Yes'
                                                td ✓
                                            else 
                                                td= ' '
                                
                div(class='column is-narrow')
                    section(class='section')
                        h3(class='has-text-weight-semibold has-text-centered is-size-5') Recently Completed Forms:
                        if recentForms.length > 0
                            table(class='table is-bordered is-striped is-hoverable')
                                thead
                                    tr
                                        th Form Name
                                        th Completion Date
                                    tbody
                                        each form in recentForms
                                            tr
                                                td
                                                    a(class='is-link' href=`/${userinfo.username}/forms/${form.company_id}/${form.form_id}/${form.response_id}`)
                                                        p #{form.form_name}
                                                td #{form.to_char}
                            section(class='section')
                                a(href=`/${userinfo.username}/forms/${recentForms[0].company_id}/all`)
                                    p(class='has-text-centered has-text-weight-bold is-italic') View More Forms
                                
                        else
                            p(class='is-italic has-text-centered subtitle') No Recently Completed Forms.
