extends layout

block content
    -console.log(supporttickets)
    section(class="main-content columns is-fullheight" style="flex: 1 0 auto; padding: 20px;")
        aside(class="column is-2 is-narrow-mobile is-fullheight section")
            p(class="menu-label has-text-weight-bold") CCDN Website
            ul(class='menu-list')
                li
                    a(href=`${ccdnLink}` target="_blank" class="is-italic") CCDN Website
                li 
                    a(href=`${ccdnLink}/job-posting/` target="_blank"  class='is-italic' ) Submit a Job Posting
            p(class='menu-label') Form System
            ul(class='menu-list')
                li
                    a(href='/forms/submitreceipts' class='is-italic has-text-weight-bold') Upload a Receipt
                li
                    a(href=`/${userinfo.username}/forms/${userinfo.company_id}/all` class='is-italic') Completed Forms
                li 
                    a(href=`/${userinfo.company_id}/staffMembers` class='is-italic') Staff Members
                li 
                    a(href='/messages' class='is-italic') View All Support Messages
                li 
                    a(href='/support' class='is-italic') Submit a Ticket
        div(class='columns is-mobile is-centered is-multiline')
            div(class="column")
                section(class="section")
                    if userinfo
                       
                        h1(class='has-text-centered has-text-weight-bold is-size-2')=userinfo.username + "'s Profile"
                        p(class='has-text-weight-bold') User Account E-Mail:
                        a(href=`mailto:${userinfo.email}`)
                            p=userinfo.email
                        br
                        h3(class='is-italic') Company Information:
                        p(class='mt-2 has-text-weight-bold')=userinfo.company_name
                        figure(class='image is-128x128')
                            img(src=`/uploads/${userinfo.logo}` alt=userinfo.company_name)
                    else 
                        h1 No user information found. Please try again or submit a support ticket.

                section(class="section" style="flex: 1 0 auto; padding: 20px;")
                    div(class='columns is-mobile is-centered is-multiline')
                        div(class='column is-full')
                            p(class='help has-text-centered') Please #[a(href="/support") submit a support ticket] to start a conversation or click in to a message below to reply.
                        div(class='column is-narrow')
                            if supporttickets.length > 0
                                table(class='table is-bordered is-hoverable is-striped')
                                    thead
                                        th Message:
                                        th User:
                                    tbody
                                        each ticket in supporttickets
                                            tr
                                                th
                                                    a(href=`/messages/${ticket.ticketid}`)
                                                        p=ticket.subject_title
                                                th=ticket.username
                                a(class="is-link" href="/messages") 
                                    p(class="has-text-centered has-text-weight-bold") View All Messages
                            else
                                p(class='has-text-weight-bold has-text-centered is-size-6 is-italic') You Have No Messages
            div(class='column is-narrow')
                div(class='column is-narrow')
                    section(class='section')
                        table(class='table is-bordered is-striped is-hoverable')
                            thead
                                p(class='has-text-centered has-text-weight-semibold is-size-5') #{currentYear} Forms
                                br
                                tr
                                    th Form Name
                                    th #{currentYear}
                                    th Due Date 
                            tbody
                                if dueDates
                                    each form in dueDates 
                                        -let formdue = new Date(form.duedate.replace(/-/g, '\/'))
                                        - const options = { year: 'numeric', month: 'long', day: 'numeric' };
                                        -formdue = formdue.toLocaleDateString(undefined, options);
                                        if form.form_name === 'Strengthening Families'
                                            tr 
                                                td 
                                                    a(class='is-link' href=form.link)
                                                        p(class='has-text-weight-bold')=form.form_name 
                                                td 
                                                    p(class='help is-italic has-text-weight-bold has-text-centered') --
                                                td 
                                                    p=formdue
                                        else if form.form_name === 'QIA Signed Attestation'
                                            tr
                                                td
                                                    a(class='is-link' href=form.link)
                                                        p(class='has-text-weight-bold')=form.form_name
                                                td
                                                    p(class='help is-italic has-text-weight-bold has-text-centered') --
                                                td 
                                                    p=formdue
                                        else
                                            tr 
                                                td 
                                                    a(class='is-link' href=form.link)
                                                        p(class='has-text-weight-bold')=form.form_name
                                                td
                                                    each dateform in submittedForms 
                                                        -let formsubmitdate = new Date(dateform.date_submitted);
                                                        -const options = { year: 'numeric', month: 'long', day: 'numeric' };
                                                        -formsubmitdate = formsubmitdate.toLocaleDateString(undefined, options);
                                                        if dateform.form_id === form.form_reference && formsubmitdate <= formdue
                                                                p(class='has-text-centered has-font-weight-bold') ✓
                                                        
                                                td 
                                                    p=formdue
                                else 
                                    tr 
                                        p No Forms found, please refresh or submit a support ticket.
                div(class='column is-narrow')
                    section(class='section')
                        h3(class='has-text-weight-semibold has-text-centered is-size-5') Recently Completed Forms:
                        if recentForms.length > 0
                            table(class='table is-bordered is-striped is-hoverable')
                                thead
                                    tr
                                        th Form Name
                                        th Completion Date
                                    tbody
                                        each form in recentForms
                                            tr
                                                td
                                                    a(class='is-link' href=`/${userinfo.username}/forms/${form.company_id}/${form.form_id}/${form.response_id}`)
                                                        p #{form.form_name}
                                                td #{form.to_char}
                            section(class='section')
                                a(href=`/${userinfo.username}/forms/${recentForms[0].company_id}/all`)
                                    p(class='help') Please note that this lists only the most recent distinct form. If it's missing a form, check the following:
                                    p(class='has-text-centered has-text-weight-bold is-italic') View More Forms
                                
                        else
                            p(class='is-italic has-text-centered subtitle') No Recently Completed Forms.
