extends layout

block content
    section(style="flex: 1 0 auto; padding: 20px;")
        div(class='columns is-multiline is-mobile is-centered')
            div(class='column is-half')
                form(action='/formdownloads/form.pdf')
                    h1(class='has-text-centered has-text-weight-bold')= companyForm[0].company_name
                    div(class='column is-mobile is-multiline' id='form')
                        for company in companyForm
                            div(style='field')
                                label(class='label')=company.attribute_name
                                div(class='control')
                                -let dateparse = Date.parse(company.value)
                                -if (!isNaN(dateparse)){dateparse = dateparse} else {dateparse = null}
                                -console.log(dateparse)
                                    if dateparse === 1609459200000
                                        label(class='label')
                                            p(class='help') Make sure new value is in the same format of YYYY
                                        input(class='input' type='text' value=company.value name=company.attrib_id)
                                    else if dateparse
                                        label(class='label')
                                            p(class='help') Make sure new value is in the same format of MM/DD/YYYY
                                        input(class='input' type='date' value=company.value name=company.attrib_id)
                                    else if company.value.length > 101
                                        textarea(rows='20' class='textarea' name=company.attrib_id )=company.value
                                    else
                                        input(class='input' type='text' value=company.value name=company.attrib_id style='width:100%;margin:-3px;border:2px inset #eee')
                            br
                    button(type='Submit' class='button is-primary') View PDF