extends layout
block content
    - console.log(`staff: `, staffMembers)
    section(class=`section` style="flex: 1 0 auto;")
        div(class=`columns is-mobile is-multiline is-centered`)
            div(class=`column is-full`)
                h1(class=`has-text-centered has-text-weight-bold is-size-2`) #{currentYear} CREDENTIAL TRACKING
            div(class=`column is-full`)
                p(class=`help has-text-centered`) If any staff members are missing, please submit a support ticket.
            div(class=`column is-full`)
                -console.log(classTypes)
                form(action=`` method=`POST` class=`js-formececred`)
                    div(class=`field`)
                        label(class=`label`) Center Name:
                        input(type=`text` class=`input` disabled value=companyName.company_name) 
                    div(class=`field`)
                        label(class=`label`) Date: 
                        input(type=`date` class=`input` required name=`date`)
                    div(class=`field`)
                        if staffMembers
                            table(class=`table has-text-centered is-bordered is-striped is-narrow is-hoverable`)
                                thead 
                                    tr 
                                        th 
                                            p(class=`help`) Staff Member 
                                        th
                                            p(class=`help`) Credential #{previousYear}
                                        th 
                                            p(class=`help`) Credential Type
                                        th
                                            p(class=`help`) In/Tod End #{previousYear - 1} 
                                        th 
                                            p(class=`help`) Expires
                                tbody
                                    for member in staffMembers
                                        tr 
                                            td #{member.first_name} #{member.last_name} 
                                            td
                                                div(class=`select`)
                                                    select(name=`${member.first_name}${member.last_name}credentialPreviousYear`)
                                                        option Yes
                                                        option No
                                            td
                                               input(class=`input` type=`text` name=`${member.first_name}${member.last_name}credentialType`)
                                            td 
                                                input(class=`input` type=`text` name=`${member.first_name}${member.last_name}inTod`)
                                            td 
                                                input(class=`input` type=`date` name=`${member.first_name}${member.last_name}expirationDate`)
                                            
                        else 
                            h2 No Staff Members found for this company. Please create atleast one!
                                    div(class=`column is-full mt-6`)
                    div(class=`field`)
                        button(type=`submit` class=`button is-primary`) Submit Form
                        button(type=`button` class=`ml-5 button is-info js-button` ) Save Form Data
                        button(type=`button` class=`ml-5 button is-danger js-clearbutton` ) Clear Form Data
    script(src=`https://unpkg.com/form-storage@1.2.0/build/form-storage.js`)
    script. 
        var formStorage = new FormStorage(`.js-formececred`, {
            name: `ececred-storage`
        });
        formStorage.apply();
        var button = document.querySelector(`.js-button`);
        var button2 = document.querySelector(`.js-clearbutton`)
        button.addEventListener(`click`, function(){
            formStorage.save();
            location.reload(true);
        });
        button2.addEventListener(`click`, function(){
            formStorage.clear();
            location.reload(true);
        })