extends layout

block content
    -let rowsQM = [1, 2, 3, 4, 5, 6, 7];
    section(class='section' style="flex: 1 0 auto;")
        div(class='columns is-mobile is-centered is-multiline')
            div(class='column is-full')
                h1(class='has-text-centered has-text-weight-bold is-size-2') QIA OUTCOME REPORTING FORM FOR #{currentYear} 
            div(class='column is-full has-text-centered')
                p(class='help') You can save form progress at the bottom of the screen. 
        div(class='columns is-mobile is-centered is-multiline')
            div(class='column is-8')
                form(action='' method='POST' class='js-form')
                    div(class='field')
                        label(class='label') Date:
                        input(class='input' name='16' type='date' required)
                    div(class='field')
                        label(class='label') Early Childhood Professional:
                        input(class='input' name='17' type='text' required)
                    div(class='field')
                        label(class='label') Center Improvement Plan Goal #1:
                        textarea(class='textarea' name='81' rows=15 required)
                    div(class='field')
                        h2(class='label') Quality Measure(s) Used to Identify Goal:
                        each measure, key in measures
                            label(class='checkbox') #{measure.measure_type} 
                                input(type='checkbox' value=measure.measure_id id=measure.measure_id name=`91`)
                            br
                    div(class='field')
                        label(class='label') Items Bought:
                        p(class='help') Please put seperate items on seperate lines.
                        textarea(class='textarea' name='101' rows=10 required)
                    div(class='field')
                        label(class='label') Please include the indicators for each quality measure that is applicable to goal #1 in the following. You may have mulitple indicators for one quality measure.
                        table(class='table')
                            thead
                                tr(class='has-text-centered')
                                    th Quality Measurement
                                    th Indicator
                                    th #{previousYear} Score
                                    th #{currentYear} Score
                            tbody
                                each row in rowsQM 
                                    tr 
                                        td 
                                            select(class='select' name=`qm${row}1`)
                                                for measure in measures 
                                                    option(value=measure.measure_id)=measure.measure_type
                                        td 
                                            input(type='text' class='input' name=`12${row}1` )
                                        td 
                                            input(type='number' class='input' name=`13${row}1` )
                                        td 
                                            input(type='number' class='input' name=`14${row}1` )
                        div(class='notification is-info is-light')
                            p Evidence of progress toward implementation:  Please provide a detailed description of how the expenditure of funds has improved your program, improved outcomes for children, increased your skill level as a teacher, and/or created sustainable change in the quality of child care in Coös County. 
                        p(class='help has-text-centered') This is for the Quality Improvement Award #{currentYear}
                        div(class='field')
                            label(class='label') Narrative for Goal #1:
                            textarea(class='textarea' name='151' rows=15 required)
                        hr(class='solid')
                        // goal two
                        div(class='field')
                            label(class='label') Center Improvement Plan Goal #2:
                            textarea(class='textarea' name='82' rows=15)
                            div(class='field')
                                h2(class='label') Quality Measure(s) Used to Identify Goal:
                                each measure, key in measures
                                    label(class='checkbox') #{measure.measure_type} 
                                        input(type='checkbox' value=measure.measure_id id=measure.measure_id name=`92`)
                                    br
                            div(class='field')
                                label(class='label') Items Bought:
                                p(class='help') Please put seperate items on seperate lines.
                                textarea(class='textarea' name='102' rows=10 )
                            div(class='field')
                                label(class='label') Please include the indicators for each quality measure that is applicable to goal #2 in the following. You may have mulitple indicators for one quality measure.
                                table(class='table')
                                    thead
                                        tr(class='has-text-centered')
                                            th Quality Measurement
                                            th Indicator
                                            th #{previousYear} Score
                                            th #{currentYear} Score
                                    tbody
                                        each row in rowsQM 
                                            tr 
                                                td 
                                                    select(class='select' name=`qm${row}2`)
                                                        for measure in measures 
                                                            option(value=measure.measure_id)=measure.measure_type
                                                td 
                                                    input(type='text' class='input' name=`12${row}2` )
                                                td 
                                                    input(type='number' class='input' name=`13${row}2` )
                                                td 
                                                    input(type='number' class='input' name=`14${row}2` )
                                div(class='notification is-info is-light')
                                    p Evidence of progress toward implementation:  Please provide a detailed description of how the expenditure of funds has improved your program, improved outcomes for children, increased your skill level as a teacher, and/or created sustainable change in the quality of child care in Coös County. 
                                p(class='help has-text-centered') This is for the Quality Improvement Award #{currentYear}
                                div(class='field')
                                    label(class='label') Narrative for Goal #2:
                                    textarea(class='textarea' name='152' rows=15 )
                                hr(class='solid')
                                // goal three
                        div(class='field')
                            label(class='label') Center Improvement Plan Goal #3:
                            textarea(class='textarea' name='83' rows=15)
                            div(class='field')
                                h2(class='label') Quality Measure(s) Used to Identify Goal:
                                each measure, key in measures
                                    label(class='checkbox') #{measure.measure_type} 
                                        input(type='checkbox' value=measure.measure_id id=measure.measure_id name=`93`)
                                    br
                            div(class='field')
                                label(class='label') Items Bought:
                                p(class='help') Please put seperate items on seperate lines.
                                textarea(class='textarea' name='103' rows=10 )
                            div(class='field')
                                label(class='label') Please include the indicators for each quality measure that is applicable to goal #3 in the following. You may have mulitple indicators for one quality measure.
                                table(class='table')
                                    thead
                                        tr(class='has-text-centered')
                                            th Quality Measurement
                                            th Indicator
                                            th #{previousYear} Score
                                            th #{currentYear} Score
                                    tbody
                                        each row in rowsQM 
                                            tr 
                                                td 
                                                    select(class='select' name=`qm${row}3`)
                                                        for measure in measures 
                                                            option(value=measure.measure_id)=measure.measure_type
                                                td 
                                                    input(type='text' class='input' name=`12${row}3` )
                                                td 
                                                    input(type='number' class='input' name=`13${row}3` )
                                                td 
                                                    input(type='number' class='input' name=`14${row}3` )
                                div(class='notification is-info is-light')
                                    p Evidence of progress toward implementation:  Please provide a detailed description of how the expenditure of funds has improved your program, improved outcomes for children, increased your skill level as a teacher, and/or created sustainable change in the quality of child care in Coös County. 
                                p(class='help has-text-centered') This is for the Quality Improvement Award #{currentYear}
                                div(class='field')
                                    label(class='label') Narrative for Goal #3:
                                    textarea(class='textarea' name='153' rows=15 )
                                hr(class='solid')
                        div(class='field')
                            button(type='submit' class='button is-primary') Submit Form
                            button(type='button' class='ml-5 button is-info js-button' ) Save Form Data
                            button(type='button' class='ml-5 button is-danger js-clearbutton' ) Clear Form Data
        script(src='https://unpkg.com/form-storage@1.2.0/build/form-storage.js')
        script. 
            var formStorage = new FormStorage('.js-form');
            formStorage.apply();
            var button = document.querySelector('.js-button');
            var button2 = document.querySelector('.js-clearbutton')
            button.addEventListener('click', function(){
                formStorage.save();
                location.reload(true);
            });
            button2.addEventListener('click', function(){
                formStorage.clear();
                location.reload(true);
            })